### Use of Quandl API to Retreive Company Stock Data

In [1]:
# Import quandl and set api_key

import quandl
quandl.ApiConfig.api_key = 'YourApiKey' # put your api_key here

#### Project Tasks:

- Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).

- Convert the returned JSON object into a Python dictionary.

- Calculate what the highest and lowest opening prices were for the stock in this period.

- What was the largest change in any one day (based on High and Low price)?

- What was the largest change between any two days (based on Closing Price)?

- What was the average daily trading volume during this year?

- (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [2]:
# Task 1: Collect data from the Frankfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017

data = quandl.get('FSE/AFX_X', trim_start = "2017-01-01", trim_end = "2017-12-31")
data.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,None
2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,None
2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,None
2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,None
2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,None

In [3]:
# Task 2: Convert the returned JSON object into a Python dictionary
# Not necessary --> quandl.get() outputs data as pandas data frame

type(data)

pandas.core.frame.DataFrame

In [4]:
# Task 3: Calculate what the highest and lowest opening prices were for the stock in this period

print('Highest Open in 2017: ', data['Open'].max())
print('Lowest Open in 2017: ', data['Open'].min())

Highest Open in 2017:  53.11
Lowest Open in 2017:  34.0

In [5]:
# Task 4: Calculate the largest change in any one day (based on High and Low price)

print('Largest Daily Change in 2017: ', round((data['High'] - data['Low']).max(), 2))

Largest Daily Change in 2017:  2.81

In [6]:
# Task 5: Calculate the largest change between any two days (based on Closing Price)

print('Largest Closing Change between Any Two Days in 2017: ', data['Close'].max() - data['Close'].min())

Largest Closing Change between Any Two Days in 2017:  19.03

In [7]:
# Task 6: Calculate the average daily trading volume during this year

print('Average Traded Volume in 2017: ', round(data['Traded Volume'].mean(), 2))

Average Traded Volume in 2017:  89124.34

In [8]:
# Task 7: Calculate the median trading volume during this year

# Import statistics package for median
import statistics

# Print the median of 'Traded Volume'
print('Median of Traded Volume in 2017: ', statistics.median(data['Traded Volume']))

Median of Traded Volume in 2017:  76286.0